nodered/event-flow.json
[
	{
		"id": "46f750dd0c884772",
		"type": "tab",
		"label": "OurTacoBot",
		"disabled": false,
		"info": ""
	},
	{
		"id": "a1086a4ec9e7afb7",
		"type": "split",
		"z": "46f750dd0c884772",
		"name": "",
		"splt": "\\n",
		"spltType": "str",
		"arraySplt": 1,
		"arraySpltType": "len",
		"stream": false,
		"addname": "",
		"x": 930,
		"y": 20,
		"wires": [
			[
				"872337111ee46aba"
			]
		]
	},
	{
		"id": "55cbd0c68d78eca6",
		"type": "debug",
		"z": "46f750dd0c884772",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 2070,
		"y": 240,
		"wires": []
	},
	{
		"id": "1234a5552197c0f7",
		"type": "tmi-event-connected",
		"z": "46f750dd0c884772",
		"config": "",
		"name": "",
		"x": 100,
		"y": 20,
		"wires": [
			[
				"b7fe330fc6fde8b4"
			]
		]
	},
	{
		"id": "872337111ee46aba",
		"type": "function",
		"z": "46f750dd0c884772",
		"name": "format data",
		"func": "msg.payload = {\n    channel: msg.payload.channel\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 1070,
		"y": 20,
		"wires": [
			[
				"8d07fe0812b084a8"
			]
		]
	},
	{
		"id": "8d07fe0812b084a8",
		"type": "tmi-command-join",
		"z": "46f750dd0c884772",
		"config": "",
		"name": "",
		"x": 1210,
		"y": 20,
		"wires": [
			[],
			[]
		]
	},
	{
		"id": "46229fbb87d2ac60",
		"type": "tmi-event-hosted",
		"z": "46f750dd0c884772",
		"config": "",
		"name": "",
		"x": 90,
		"y": 140,
		"wires": [
			[
				"a736b6720f4061a3"
			]
		]
	},
	{
		"id": "a49a3465e499a7bb",
		"type": "tmi-event-raided",
		"z": "46f750dd0c884772",
		"config": "",
		"name": "",
		"x": 90,
		"y": 240,
		"wires": [
			[
				"35e9fdb59d20e549"
			]
		]
	},
	{
		"id": "dfc1e527623c72e7",
		"type": "tmi-event-cheer",
		"z": "46f750dd0c884772",
		"config": "",
		"name": "",
		"x": 90,
		"y": 340,
		"wires": [
			[
				"baf5258ea64c5e0b"
			]
		]
	},
	{
		"id": "565c5f87b5816dcb",
		"type": "tmi-event-subscription",
		"z": "46f750dd0c884772",
		"config": "",
		"name": "",
		"x": 110,
		"y": 500,
		"wires": [
			[
				"e6fd12deccdd2307"
			]
		]
	},
	{
		"id": "e663ae9e85d5209d",
		"type": "tmi-event-resub",
		"z": "46f750dd0c884772",
		"config": "",
		"name": "",
		"x": 90,
		"y": 600,
		"wires": [
			[
				"e6fd12deccdd2307"
			]
		]
	},
	{
		"id": "d50a9ca967187113",
		"type": "tmi-event-primepaidupgrade",
		"z": "46f750dd0c884772",
		"config": "",
		"name": "",
		"x": 130,
		"y": 700,
		"wires": [
			[
				"e6fd12deccdd2307"
			]
		]
	},
	{
		"id": "3b1c7d52e3dbbe4d",
		"type": "tmi-event-subgift",
		"z": "46f750dd0c884772",
		"config": "",
		"name": "",
		"x": 90,
		"y": 800,
		"wires": [
			[
				"e6fd12deccdd2307"
			]
		]
	},
	{
		"id": "1eaf8485e3fb09da",
		"type": "tmi-event-giftpaidupgrade",
		"z": "46f750dd0c884772",
		"config": "",
		"name": "",
		"x": 120,
		"y": 900,
		"wires": [
			[
				"e6fd12deccdd2307"
			]
		]
	},
	{
		"id": "a736b6720f4061a3",
		"type": "function",
		"z": "46f750dd0c884772",
		"name": "Create Action",
		"func": "msg.payload = {\n    action: \"host\",\n    channel: msg.payload.channel.toLowerCase().replace(\"#\", \"\").replace(\"@\", \"\"),\n    user: msg.payload.username.toLowerCase().replace(\"#\", \"\").replace(\"@\", \"\"),\n    count: msg.payload.viewers\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 300,
		"y": 140,
		"wires": [
			[
				"9ca901b9e40d2f55"
			]
		]
	},
	{
		"id": "ef440c7ac39f0f66",
		"type": "tmi-command-say",
		"z": "46f750dd0c884772",
		"config": "",
		"name": "",
		"x": 1910,
		"y": 280,
		"wires": [
			[],
			[]
		]
	},
	{
		"id": "30b5f389976ccad1",
		"type": "mongodb in",
		"z": "46f750dd0c884772",
		"mongodb": "cca90e0ad48e5446",
		"name": "",
		"collection": "",
		"operation": "find",
		"x": 800,
		"y": 20,
		"wires": [
			[
				"a1086a4ec9e7afb7"
			]
		]
	},
	{
		"id": "b7a48f10569cc161",
		"type": "function",
		"z": "46f750dd0c884772",
		"name": "Get Bot Channels Query",
		"func": "msg.payload = {\n    \"guild_id\": \"935294040386183228\"\n};\nmsg.collection = \"twitch_channels\";\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 610,
		"y": 20,
		"wires": [
			[
				"30b5f389976ccad1"
			]
		]
	},
	{
		"id": "35e9fdb59d20e549",
		"type": "function",
		"z": "46f750dd0c884772",
		"name": "Create Action",
		"func": "msg.payload = {\n    action: \"raid\",\n    channel: msg.payload.channel.toLowerCase().replace(\"#\", \"\").replace(\"@\", \"\"),\n    user: msg.payload.username.toLowerCase().replace(\"#\", \"\").replace(\"@\", \"\"),\n    count: msg.payload.viewers\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 300,
		"y": 240,
		"wires": [
			[
				"9ca901b9e40d2f55"
			]
		]
	},
	{
		"id": "9ca901b9e40d2f55",
		"type": "function",
		"z": "46f750dd0c884772",
		"name": "Build Command",
		"func": "msg.payload = {\n    channel: \"ourtacobot\",\n    message: `!taco ${msg.payload.action} ${msg.payload.user} ${msg.payload.channel}`    \n}\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 1100,
		"y": 240,
		"wires": [
			[
				"ffaaaab41b41a887",
				"fbd7aed491c06946"
			]
		]
	},
	{
		"id": "33fc045ae186aa3f",
		"type": "inject",
		"z": "46f750dd0c884772",
		"name": "TEST RAID",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "test",
				"v": "true",
				"vt": "jsonata"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "{\"channel\":\"guynamemike\",\"username\":\"darthminos\",\"viewers\":5}",
		"payloadType": "json",
		"x": 110,
		"y": 280,
		"wires": [
			[
				"35e9fdb59d20e549"
			]
		]
	},
	{
		"id": "58fd5a01580c6e98",
		"type": "inject",
		"z": "46f750dd0c884772",
		"name": "TEST HOST",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "test",
				"v": "true",
				"vt": "jsonata"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "{\"channel\":\"guynamemike\",\"username\":\"darthminos\",\"viewers\":5}",
		"payloadType": "json",
		"x": 110,
		"y": 180,
		"wires": [
			[
				"a736b6720f4061a3"
			]
		]
	},
	{
		"id": "e6fd12deccdd2307",
		"type": "function",
		"z": "46f750dd0c884772",
		"name": "Create Action",
		"func": "msg.payload = {\n    action: \"support\",\n    channel: msg.payload.channel.toLowerCase().replace(\"#\", \"\").replace(\"@\", \"\"),\n    user: msg.payload.username.toLowerCase().replace(\"#\", \"\").replace(\"@\", \"\")\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 920,
		"y": 740,
		"wires": [
			[
				"9ca901b9e40d2f55"
			]
		]
	},
	{
		"id": "baf5258ea64c5e0b",
		"type": "function",
		"z": "46f750dd0c884772",
		"name": "Format Payload",
		"func": "msg.payload = {\n  channel: msg.payload.channel,\n  username: msg.payload.userstate['display-name'].toLowerCase().replace(\"@\", \"\").replace(\"#\", \"\"),\n  amount: msg.payload.userstate.bits || 1\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 380,
		"y": 400,
		"wires": [
			[
				"e3f5771cb4dff405",
				"5d5147cb9cd2625e"
			]
		]
	},
	{
		"id": "40497c7d9234c271",
		"type": "inject",
		"z": "46f750dd0c884772",
		"name": "TEST CHEER < 100",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "test",
				"v": "true",
				"vt": "jsonata"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "{\"channel\":\"guynamemike\",\"userstate\":{\"display-name\":\"DarthMinos\",\"bits\":10}}",
		"payloadType": "json",
		"x": 130,
		"y": 380,
		"wires": [
			[
				"baf5258ea64c5e0b"
			]
		]
	},
	{
		"id": "81cc523992ad7633",
		"type": "inject",
		"z": "46f750dd0c884772",
		"name": "TEST SUBSCRIPTION",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "test",
				"v": "true",
				"vt": "jsonata"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "{\"channel\":\"guynamemike\",\"username\":\"darthminos\"}",
		"payloadType": "json",
		"x": 140,
		"y": 540,
		"wires": [
			[
				"e6fd12deccdd2307"
			]
		]
	},
	{
		"id": "5b60394a7ab365c7",
		"type": "inject",
		"z": "46f750dd0c884772",
		"name": "TEST RESUB",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "test",
				"v": "true",
				"vt": "jsonata"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "{\"channel\":\"guynamemike\",\"username\":\"darthminos\",\"streakMonths\":5}",
		"payloadType": "json",
		"x": 110,
		"y": 640,
		"wires": [
			[
				"e6fd12deccdd2307"
			]
		]
	},
	{
		"id": "e9a418e2ded6fa78",
		"type": "inject",
		"z": "46f750dd0c884772",
		"name": "TEST PRIME UPGRADE",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "test",
				"v": "true",
				"vt": "jsonata"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "{\"channel\":\"guynamemike\",\"username\":\"darthminos\"}",
		"payloadType": "json",
		"x": 150,
		"y": 740,
		"wires": [
			[
				"e6fd12deccdd2307"
			]
		]
	},
	{
		"id": "fcc3e0a062c5b788",
		"type": "inject",
		"z": "46f750dd0c884772",
		"name": "TEST SUBGIFT",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "test",
				"v": "true",
				"vt": "jsonata"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "{\"channel\":\"guynamemike\",\"username\":\"darthminos\"}",
		"payloadType": "json",
		"x": 120,
		"y": 840,
		"wires": [
			[
				"e6fd12deccdd2307"
			]
		]
	},
	{
		"id": "c1f88b165672acaa",
		"type": "inject",
		"z": "46f750dd0c884772",
		"name": "TEST GIFT UPGRADE",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "test",
				"v": "true",
				"vt": "jsonata"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "{\"channel\":\"guynamemike\",\"username\":\"darthminos\"}",
		"payloadType": "json",
		"x": 140,
		"y": 940,
		"wires": [
			[
				"e6fd12deccdd2307"
			]
		]
	},
	{
		"id": "ffaaaab41b41a887",
		"type": "switch",
		"z": "46f750dd0c884772",
		"name": "Is TEST",
		"property": "test",
		"propertyType": "msg",
		"rules": [
			{
				"t": "eq",
				"v": "true",
				"vt": "jsonata"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 1,
		"x": 1540,
		"y": 240,
		"wires": [
			[
				"55cbd0c68d78eca6"
			]
		]
	},
	{
		"id": "fbd7aed491c06946",
		"type": "switch",
		"z": "46f750dd0c884772",
		"name": "Is ACTION",
		"property": "test",
		"propertyType": "msg",
		"rules": [
			{
				"t": "neq",
				"v": "true",
				"vt": "jsonata"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 1,
		"x": 1550,
		"y": 280,
		"wires": [
			[
				"f1bb52da63e95672",
				"9bb875c9ece15ae0"
			]
		]
	},
	{
		"id": "f1bb52da63e95672",
		"type": "delay",
		"z": "46f750dd0c884772",
		"name": "",
		"pauseType": "rate",
		"timeout": "5",
		"timeoutUnits": "seconds",
		"rate": "10",
		"nbRateUnits": "1",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": false,
		"allowrate": false,
		"x": 1760,
		"y": 280,
		"wires": [
			[
				"ef440c7ac39f0f66"
			]
		]
	},
	{
		"id": "27accf06d04c7f46",
		"type": "inject",
		"z": "46f750dd0c884772",
		"name": "TEST CHEER 100+",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "test",
				"v": "true",
				"vt": "jsonata"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "{\"channel\":\"guynamemike\",\"userstate\":{\"display-name\":\"DarthMinos\",\"bits\":500}}",
		"payloadType": "json",
		"x": 130,
		"y": 420,
		"wires": [
			[
				"baf5258ea64c5e0b"
			]
		]
	},
	{
		"id": "5d5147cb9cd2625e",
		"type": "switch",
		"z": "46f750dd0c884772",
		"name": "Bits >= 100",
		"property": "payload.amount",
		"propertyType": "msg",
		"rules": [
			{
				"t": "gte",
				"v": "100",
				"vt": "num"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 1,
		"x": 590,
		"y": 500,
		"wires": [
			[
				"e6fd12deccdd2307"
			]
		]
	},
	{
		"id": "e3f5771cb4dff405",
		"type": "switch",
		"z": "46f750dd0c884772",
		"name": "Bits < 100",
		"property": "payload.amount",
		"propertyType": "msg",
		"rules": [
			{
				"t": "lt",
				"v": "100",
				"vt": "num"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 1,
		"x": 580,
		"y": 300,
		"wires": [
			[
				"f08aafad55e13bcd"
			]
		]
	},
	{
		"id": "f08aafad55e13bcd",
		"type": "function",
		"z": "46f750dd0c884772",
		"name": "Log Message",
		"func": "msg.payload = { message: \"Ignoring Cheer: Fewer than 100 bits.\" }\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 760,
		"y": 300,
		"wires": [
			[
				"2e48570e2813eab2"
			]
		]
	},
	{
		"id": "2e48570e2813eab2",
		"type": "debug",
		"z": "46f750dd0c884772",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 750,
		"y": 340,
		"wires": []
	},
	{
		"id": "617d105d8db46f55",
		"type": "http in",
		"z": "46f750dd0c884772",
		"name": "Invite To Channel",
		"url": "/tacobot/guild/:guild/invite/:channel",
		"method": "post",
		"upload": false,
		"swaggerDoc": "",
		"x": 120,
		"y": 1020,
		"wires": [
			[
				"b0f8aee21e010557",
				"8ca13e0f98f994e7"
			]
		]
	},
	{
		"id": "6f8a5950184f2997",
		"type": "function",
		"z": "46f750dd0c884772",
		"name": "Format Payload",
		"func": "msg.payload = {\n    action: \"invite\",\n    channel: msg.req.params.channel,\n    guild: msg.req.params.guild\n}\nmsg.statusCode = 200;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 1120,
		"y": 880,
		"wires": [
			[
				"f961d1de47b5d3fa",
				"5c632a06a9e4e5f7"
			]
		]
	},
	{
		"id": "f961d1de47b5d3fa",
		"type": "function",
		"z": "46f750dd0c884772",
		"name": "Build Command",
		"func": "let _action = msg.payload.action;\nlet _channel = msg.payload.channel;\n\n\nmsg.payload = {\n    channel: \"ourtacobot\",\n    message: `!taco ${_action} ${_channel}`    \n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 1360,
		"y": 880,
		"wires": [
			[
				"ffaaaab41b41a887",
				"fbd7aed491c06946"
			]
		]
	},
	{
		"id": "0e7bb96a38d4110c",
		"type": "inject",
		"z": "46f750dd0c884772",
		"name": "TEST HTTP INVITE",
		"props": [
			{
				"p": "req",
				"v": "{\"params\":{\"channel\":\"darthminos\",\"guild\":\"935294040386183228\"},\"headers\":{\"X-AUTH-TOKEN\":\"935665133957566525\"}}",
				"vt": "json"
			},
			{
				"p": "test",
				"v": "true",
				"vt": "jsonata"
			},
			{
				"p": "payload"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "{}",
		"payloadType": "json",
		"x": 130,
		"y": 1060,
		"wires": [
			[
				"b0f8aee21e010557",
				"8ca13e0f98f994e7"
			]
		]
	},
	{
		"id": "82d83ce5e40b7360",
		"type": "inject",
		"z": "46f750dd0c884772",
		"name": "TEST HTTP INVITE [NOT AUTHORIZED]",
		"props": [
			{
				"p": "req",
				"v": "{\"params\":{\"channel\":\"darthminos\",\"guild\":\"935294040386183228\"},\"headers\":{\"X-AUTH-TOKEN\":\"262031734260891648\"}}",
				"vt": "json"
			},
			{
				"p": "test",
				"v": "true",
				"vt": "jsonata"
			},
			{
				"p": "payload"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "{}",
		"payloadType": "json",
		"x": 200,
		"y": 1100,
		"wires": [
			[
				"b0f8aee21e010557",
				"8ca13e0f98f994e7"
			]
		]
	},
	{
		"id": "b0f8aee21e010557",
		"type": "switch",
		"z": "46f750dd0c884772",
		"name": "Is Valid X-AUTH-TOKEN",
		"property": "req.headers['X-AUTH-TOKEN']",
		"propertyType": "msg",
		"rules": [
			{
				"t": "eq",
				"v": "935665133957566525",
				"vt": "str"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 1,
		"x": 610,
		"y": 920,
		"wires": [
			[
				"43d5df8a1a51a83c",
				"bd583d68bb5f6bc4"
			]
		]
	},
	{
		"id": "43d5df8a1a51a83c",
		"type": "switch",
		"z": "46f750dd0c884772",
		"name": "Is Valid Guild",
		"property": "req.params.guild",
		"propertyType": "msg",
		"rules": [
			{
				"t": "eq",
				"v": "935294040386183228",
				"vt": "str"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 1,
		"x": 890,
		"y": 880,
		"wires": [
			[
				"6f8a5950184f2997"
			]
		]
	},
	{
		"id": "8ca13e0f98f994e7",
		"type": "switch",
		"z": "46f750dd0c884772",
		"name": "Is NOT Valid X-AUTH-TOKEN",
		"property": "req.headers['X-AUTH-TOKEN']",
		"propertyType": "msg",
		"rules": [
			{
				"t": "neq",
				"v": "935665133957566525",
				"vt": "str"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 1,
		"x": 630,
		"y": 1020,
		"wires": [
			[
				"bfb71e71ad1ce767"
			]
		]
	},
	{
		"id": "bd583d68bb5f6bc4",
		"type": "switch",
		"z": "46f750dd0c884772",
		"name": "Is NOT Valid Guild",
		"property": "req.params.guild",
		"propertyType": "msg",
		"rules": [
			{
				"t": "neq",
				"v": "935294040386183228",
				"vt": "str"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 1,
		"x": 910,
		"y": 960,
		"wires": [
			[
				"3e47e6fb49235e3e"
			]
		]
	},
	{
		"id": "42ecfa1e206ce3ee",
		"type": "inject",
		"z": "46f750dd0c884772",
		"name": "TEST HTTP INVITE [BAD GUILD]",
		"props": [
			{
				"p": "req",
				"v": "{\"params\":{\"channel\":\"darthminos\",\"guild\":\"262036511665422336\"},\"headers\":{\"X-AUTH-TOKEN\":\"935665133957566525\"}}",
				"vt": "json"
			},
			{
				"p": "test",
				"v": "true",
				"vt": "jsonata"
			},
			{
				"p": "payload"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "{}",
		"payloadType": "json",
		"x": 180,
		"y": 1140,
		"wires": [
			[
				"b0f8aee21e010557",
				"8ca13e0f98f994e7"
			]
		]
	},
	{
		"id": "3e47e6fb49235e3e",
		"type": "function",
		"z": "46f750dd0c884772",
		"name": "Message Output",
		"func": "msg.payload = {\n    message: \"Invalid GUILD ID\",\n    req: msg.req\n}\nmsg.req = msg.req;\nmsg.statusCode = 403;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 1120,
		"y": 960,
		"wires": [
			[
				"5c632a06a9e4e5f7"
			]
		]
	},
	{
		"id": "bfb71e71ad1ce767",
		"type": "function",
		"z": "46f750dd0c884772",
		"name": "Message Output",
		"func": "msg.payload = {\n    message: \"Invalid X-AUTH-TOKEN\",\n    req: msg.req\n}\nmsg.statusCode = 403;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 1120,
		"y": 1020,
		"wires": [
			[
				"5c632a06a9e4e5f7"
			]
		]
	},
	{
		"id": "5c632a06a9e4e5f7",
		"type": "debug",
		"z": "46f750dd0c884772",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 1350,
		"y": 1020,
		"wires": []
	},
	{
		"id": "d61d003709dca254",
		"type": "http response",
		"z": "46f750dd0c884772",
		"name": "Return Status Code",
		"statusCode": "",
		"headers": {},
		"x": 1950,
		"y": 380,
		"wires": []
	},
	{
		"id": "9bb875c9ece15ae0",
		"type": "switch",
		"z": "46f750dd0c884772",
		"name": "Check HTTP",
		"property": "req",
		"propertyType": "msg",
		"rules": [
			{
				"t": "nnull"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 1,
		"x": 1750,
		"y": 340,
		"wires": [
			[
				"d61d003709dca254",
				"8f3551e5552c98b7"
			]
		]
	},
	{
		"id": "8f3551e5552c98b7",
		"type": "function",
		"z": "46f750dd0c884772",
		"name": "",
		"func": "msg.payload = {\n    message: \"IS HTTP REQUEST\"\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 1920,
		"y": 340,
		"wires": [
			[
				"55cbd0c68d78eca6"
			]
		]
	},
	{
		"id": "b56dbe3bdf0e2cf4",
		"type": "comment",
		"z": "46f750dd0c884772",
		"name": "Invite To Channel",
		"info": "This is https://nodered.bit13.local/ request to trigger a command",
		"x": 100,
		"y": 980,
		"wires": []
	},
	{
		"id": "b7fe330fc6fde8b4",
		"type": "trigger",
		"z": "46f750dd0c884772",
		"name": "",
		"op1": "{\"message\":\"Trigger Join Channels\"}",
		"op2": "0",
		"op1type": "json",
		"op2type": "str",
		"duration": "-1",
		"extend": false,
		"overrideDelay": false,
		"units": "hr",
		"reset": "",
		"bytopic": "all",
		"topic": "topic",
		"outputs": 1,
		"x": 310,
		"y": 20,
		"wires": [
			[
				"b7a48f10569cc161",
				"f3275be8e60ea5b0"
			]
		]
	},
	{
		"id": "f3275be8e60ea5b0",
		"type": "debug",
		"z": "46f750dd0c884772",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 570,
		"y": 60,
		"wires": []
	},
	{
		"id": "09ece4d7dde857ed",
		"type": "http in",
		"z": "46f750dd0c884772",
		"name": "",
		"url": "/tacobot/minecraft/whitelist.json",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 180,
		"y": 1200,
		"wires": [
			[
				"2f0f17821ea46aa2"
			]
		]
	},
	{
		"id": "2f0f17821ea46aa2",
		"type": "function",
		"z": "46f750dd0c884772",
		"name": "Get Whitelist Users Query",
		"func": "msg.payload = {\n    \"whitelist\": true\n};\nmsg.collection = \"minecraft_users\";\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 490,
		"y": 1200,
		"wires": [
			[
				"7d05304ec9d87716"
			]
		]
	},
	{
		"id": "7d05304ec9d87716",
		"type": "mongodb in",
		"z": "46f750dd0c884772",
		"mongodb": "cca90e0ad48e5446",
		"name": "",
		"collection": "",
		"operation": "find",
		"x": 700,
		"y": 1200,
		"wires": [
			[
				"bac5cc89895b0ecf"
			]
		]
	},
	{
		"id": "bac5cc89895b0ecf",
		"type": "function",
		"z": "46f750dd0c884772",
		"name": "Format Payload",
		"func": "let result = []\nfor(let i = 0; i < msg.payload.length; ++i) {\n    result.push({\n        \"uuid\": msg.payload[i].uuid,\n        \"name\": msg.payload[i].username\n    });\n}\nmsg.payload = result;\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 880,
		"y": 1200,
		"wires": [
			[
				"711792225dfc56f9"
			]
		]
	},
	{
		"id": "711792225dfc56f9",
		"type": "http response",
		"z": "46f750dd0c884772",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 1050,
		"y": 1200,
		"wires": []
	},
	{
		"id": "83cb5407c78f1af7",
		"type": "http in",
		"z": "46f750dd0c884772",
		"name": "",
		"url": "/tacobot/minecraft/ops.json",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 170,
		"y": 1240,
		"wires": [
			[
				"b43859e38a7f43d5"
			]
		]
	},
	{
		"id": "b43859e38a7f43d5",
		"type": "function",
		"z": "46f750dd0c884772",
		"name": "Get OPs Users Query",
		"func": "msg.payload = {\n    \"whitelist\": true,\n    \"op.enabled\": true\n};\nmsg.collection = \"minecraft_users\";\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 480,
		"y": 1240,
		"wires": [
			[
				"3956c05b84f01d4c"
			]
		]
	},
	{
		"id": "3956c05b84f01d4c",
		"type": "mongodb in",
		"z": "46f750dd0c884772",
		"mongodb": "cca90e0ad48e5446",
		"name": "",
		"collection": "",
		"operation": "find",
		"x": 700,
		"y": 1240,
		"wires": [
			[
				"2ce7e0e132bf896f"
			]
		]
	},
	{
		"id": "2ce7e0e132bf896f",
		"type": "function",
		"z": "46f750dd0c884772",
		"name": "Format Payload",
		"func": "let result = []\nfor(let i = 0; i < msg.payload.length; ++i) {\n    if (msg.payload[i].op) {\n        result.push({\n            \"uuid\": msg.payload[i].uuid,\n            \"name\": msg.payload[i].username,\n            \"level\": msg.payload[i].op.level,\n            \"bypassesPlayerLimit\":  msg.payload[i].op.bypassesPlayerLimit\n        });\n    }\n}\nmsg.payload = result;\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 880,
		"y": 1240,
		"wires": [
			[
				"98e687a80637b896"
			]
		]
	},
	{
		"id": "98e687a80637b896",
		"type": "http response",
		"z": "46f750dd0c884772",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 1050,
		"y": 1240,
		"wires": []
	},
	{
		"id": "ea680f7f69fb6315",
		"type": "http request",
		"z": "46f750dd0c884772",
		"name": "",
		"method": "GET",
		"ret": "txt",
		"paytoqs": "ignore",
		"url": "",
		"tls": "",
		"persist": false,
		"proxy": "",
		"authType": "",
		"x": 710,
		"y": 1280,
		"wires": [
			[
				"f26bfeb80d1dca08"
			]
		]
	},
	{
		"id": "c50448f1b9de481f",
		"type": "http in",
		"z": "46f750dd0c884772",
		"name": "",
		"url": "/tacobot/minecraft/uuid/:username",
		"method": "get",
		"upload": false,
		"swaggerDoc": "",
		"x": 190,
		"y": 1280,
		"wires": [
			[
				"31671a48bfc81c6d"
			]
		]
	},
	{
		"id": "31671a48bfc81c6d",
		"type": "function",
		"z": "46f750dd0c884772",
		"name": "Create URL",
		"func": "msg.url = `https://api.mojang.com/users/profiles/minecraft/${msg.req.params.username}`\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 450,
		"y": 1280,
		"wires": [
			[
				"ea680f7f69fb6315"
			]
		]
	},
	{
		"id": "a6f143d14584811c",
		"type": "http response",
		"z": "46f750dd0c884772",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 1050,
		"y": 1280,
		"wires": []
	},
	{
		"id": "f26bfeb80d1dca08",
		"type": "function",
		"z": "46f750dd0c884772",
		"name": "Format Payload",
		"func": "function format_uuid(s) {\n    return s.replace(/^([a-f0-9]{8})([a-f0-9]{4})([a-f0-9]{4})([a-f0-9]{4})([a-f0-9]{12})$/gmi, '$1-$2-$3-$4-$5');\n}\n\nif(msg.statusCode < 200 || msg.statusCode > 399) {\n    msg.payload = { \"error\": msg.statusCode };\n    msg.statusCode = 200\n    return msg;\n} else if (msg.statusCode == 204) {\n    msg.statusCode = 404\n}\n\nif (msg.payload !== \"\") {\n    data_payload = JSON.parse(msg.payload)\n    console.log(data_payload)\n    msg.payload = {\n        \"name\": data_payload.name,\n        \"uuid\": format_uuid(data_payload.id)\n    }\n} else {\n    msg.payload = { \"error\": msg.statusCode };\n    msg.statusCode = 200\n}\n\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 880,
		"y": 1280,
		"wires": [
			[
				"a6f143d14584811c"
			]
		]
	},
	{
		"id": "cca90e0ad48e5446",
		"type": "mongodb",
		"hostname": "andeddu.bit13.local",
		"topology": "direct",
		"connectOptions": "authSource=admin",
		"port": "27017",
		"db": "tacobot",
		"name": "Tacobot"
	}
]
